
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

/* Header */
.contenitore-header{
    display: flex;
    height: 40px;
    background-color: #1b1b1b;
    padding: 5px;
    justify-content: space-between;
}
.contenitore-header-sinistra, .contenitore-header-destra{
    display: flex;
}
.contenitore-header .contenitore-header-sinistra > i{
    color: #25d959;
    background-color: black;
    border-radius: 8px;
    padding: 7px;
    margin-right: 5px;
}
.rec, .view{
    background-color: black;
    border-radius: 8px;
    padding: 5px;
}
.view{
    background-color: #212223;
}
.contenitore-header span, .contenitore-header-destra i{
    color: #909090;
    padding: 0 5px;
}

/* Icona recording con animazione */
.contenitore-header .rec>i{
    color: red;
    animation-name: rec;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(243, 5, 5);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(236, 7, 7, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(247, 92, 92, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(236, 11, 11, 0);
	}
}

/* Main */
main{
    background-color: #1b1b1b;
    height: calc(100vh - 40px -50px);
}
.contenitore-main{
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenitore-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 120px;
    width: 210px;
    position: relative;
    margin: 2px;
}
.name{
    position: absolute;
    left: 5px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0 5px;
}
.name a{
    color: red;
    padding-right: 3px;
}
.name span{
    color: white;
    font-weight: 300;
    font-size: 11px;
}

/* Immagini Main */
.img-1{
    background-image: url(../img/img-1.jpeg);
}
.img-2{
    background-image: url(../img/img-2.jpeg);
}
.img-3{
    background-image: url(../img/img-3.jpeg);
}
.img-4{
    background-image: url(../img/img-4.jpeg);
}
.img-5{
    background-image: url(../img/img-5.jpeg);
}
.img-6{
    background-image: url(../img/img-6.jpeg);
}
.img-7{
    background-image: url(../img/img-7.jpeg);
}
.img-8{
    background-image: url(../img/img-8.jpeg);
}
.img-9{
    background-image: url(../img/img-9.jpeg);
}
.img-10{
    background-image: url(../img/img-10.jpeg);
}
.img-11{
    background-image: url(../img/img-11.jpeg);
}
.img-12{
    background-image: url(../img/img-12.jpeg);
}
.img-13{
    background-image: url(../img/img-13.jpeg);
}
.img-14{
    background-image: url(../img/img-14.jpeg);
}
.img-15{
    background-image: url(../img/img-15.jpeg);
}
.img-16{
    background-image: url(../img/img-16.jpeg);
}
.img-16{
    background-image: url(../img/img-16.jpeg);
}
.img-17{
    background-image: url(../img/img-17.jpeg);
}
.img-18{
    background-image: url(../img/img-18.jpeg);
}
.img-19{
    background-image: url(../img/img-19.jpeg);
}
.img-20{
    background-image: url(../img/img-20.jpeg);
}
.img-21{
    background-image: url(../img/img-21.jpeg);
}
.img-22{
    background-image: url(../img/img-22.jpeg);
}
.img-23{
    background-image: url(../img/img-23.jpeg);
}
.img-24{
    background-image: url(../img/img-24.jpeg);
}
.img-25{
    background-image: url(../img/img-25.jpeg);
}

/* Footer */
footer{
    background-color: #232628;
    height: 50px;
}
