
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
button:hover{
    opacity: 0.75;
}
.hover-img{
    display: none;
}
.contenitore-img:hover .hover-img{
    display: block;
    width: 30px;
    height: 15px;
    background-color: #2db8ff;
    text-align: center;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}

/* Header */
.contenitore-header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #1b1b1b;
    padding: 5px;
}
.contenitore-header-sinistra, .contenitore-header-destra{
    display: flex;
}
.contenitore-header .contenitore-header-sinistra > i{
    color: #25d959;
    background-color: black;
    border-radius: 8px;
    padding: 7px;
    margin-right: 5px;
}
.rec, .view{
    background-color: black;
    border-radius: 8px;
    padding: 5px;
}
.view{
    background-color: #212223;
}
.contenitore-header span, .contenitore-header-destra i{
    color: #909090;
    padding: 0 5px;
}

/* Icona recording con animazione */
.contenitore-header .rec>i{
    color: red;
    animation-name: rec;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgb(243, 5, 5);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(236, 7, 7, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(247, 92, 92, 0);
	}
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(236, 11, 11, 0);
	}
}

/* Main */
main{
    background-color: #1b1b1b;
    height: calc(100vh - 40px - 50px);
    display: flex;
}
.contenitore-main{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.button-main-sinistra{
    width: 10%;
    position: relative;
}
.button-main-sinistra button{
    position: absolute;
    bottom: 50%;
    background-image: linear-gradient(#212121, #060606);
    border: 1px solid;
    margin-left: 10px;
    
}
.button-main-sinistra button i{
    color: #2db8ff;
    font-size: 35px;
    padding: 20px 20px 8px 20px;
}
.contenitore-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    height: 115px;
    width: 210px;
    position: relative;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    position: absolute;
    left: 5px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0 5px;
}
.name i{
    color: red;
    padding-right: 3px;
}
.name span{
    color: white;
    font-weight: 300;
    font-size: 11px;
}
.color-green i{
    color: #25d959;
}
.senza-img{
    font-size: 20px;
}
.iniziale-nome{
    display: flex;
    height: 50px;
    width: 48px;
    background-color: rosybrown;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* Immagini Main */
.img-1{
    background-image: url(../img/img-1.jpeg);
}
.img-2{
    background-image: url(../img/img-2.jpeg);
}
.img-3{
    background-image: url(../img/img-3.jpeg);
    border: 4px solid yellow;
}
.img-4{
    background-image: url(../img/img-4.jpeg);
}
.img-5{
    background-image: url(../img/img-5.jpeg);
}
.img-6{
    background-image: url(../img/img-6.jpeg);
}
.img-7{
    background-image: url(../img/img-7.jpeg);
}
.img-8{
    background-image: url(../img/img-8.jpeg);
}
.img-9{
    background-image: url(../img/img-9.jpeg);
}
.img-10{
    background-image: url(../img/img-10.jpeg);
}
.img-11{
    background-image: url(../img/img-11.jpeg);
}
.img-12{
    background-image: url(../img/img-12.jpeg);
}
.img-13{
    background-image: url(../img/img-13.jpeg);
}
.img-15{
    background-image: url(../img/img-15.jpeg);
}
.img-16{
    background-image: url(../img/img-16.jpeg);
}
.img-17, .img-14{
    background-color: #222323;
    color: white;
}
.img-18{
    background-image: url(../img/img-18.jpeg);
}
.img-19{
    background-image: url(../img/img-19.jpeg);
}
.img-20{
    background-image: url(../img/img-20.jpeg);
}
.img-21{
    background-image: url(../img/img-21.jpeg);
}
.img-22{
    background-image: url(../img/img-22.jpeg);
}
.img-23{
    background-image: url(../img/img-23.jpeg);
}
.img-24{
    background-image: url(../img/img-24.jpeg);
}
.img-25{
    background-image: url(../img/img-25.jpeg);
}

/* Footer */
.contenitore-footer{
    background-color: #232628;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Contenitore footer sinistra */
.contenitore-footer-sinistra{
    display: flex;
    margin: 0 25px;
}
.contenitore-footer-sinistra i{
    font-size: 15px;
}
.contenitore-footer-sinistra, .contenitore-footer-centrale{
    text-align: center;
    color: #aaabac;
    font-weight: 400;
    margin-right: 3px;
}
.video{
    margin-left: 20px;
}
.testo{
    font-size: 10px;
}
footer i, button div{
    color: #aaabac;
}

/* Contenitore footer centrale */
.contenitore-footer-centrale{
    display: flex;
}
.contenitore-footer-centrale i, .contenitore-footer-centrale div{
    margin-right: 15px;
}
.numero-partecipanti, .share-angle-up{
    position: relative;
}
.numero-partecipanti span{
    position: absolute;
    top: 0;
    right: 17px;
    font-size: 10px;
}
.fa-angle-up{
    position: absolute;
    right: -15px;
    top: 5px;
}
.fa-arrow-up{
    color: #232628;
    font-size: 10px;
    background-color: #25d959;
    padding: 2px 5px;
    border-radius: 2px;
}
.testo-verde{
    color: #25d959;
}
.smile-più{
    position: relative;
}
.smile-più span{
    position: absolute;
    top: -5px;
    right: 28px;
    -webkit-text-stroke: 1px #232628;
}
/*  Contenitore footer destra */
.contenitore-footer-destra>button{
    background-color: #e02828;
    border: none;
    padding: 5px 15px;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
a{
    color: inherit;
    text-decoration: none;
}

